body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#top-bar{
  background-color: #1d3879;
  overflow: hidden;
  height: 5%;
  width: 100%;
  padding: 0.5% 1%;
  display: flex;
  justify-content:space-around ;
  text-align: center;
  top: 0;
  z-index: 1;
  position: sticky;
}

input {
  font: inherit;
  padding: 0.2em 0.5em;
  width: 45%;
  height: 30px;
  font-family: arial;
  font-size: 1.2rem;
  color: #1d3879;
  border-radius: 10px;
  border: none;
}

.nav-bar-content{
  color: white;
  font-size: 0.8rem;
  font-family: arial;
  padding: 0% 3%;
}

.mainlogo{
  width: 3%;
  padding:0% 2%;
}

.sub-nav{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  color: black;
  justify-content: space-between;
  box-shadow: 1px 0.2px 3px;
  z-index: 1;
}

.sub-nav h3{
  color: black;
  font-size: 0.9rem;
  font-family: arial;
  padding: 0% 3%;
}

.content{
  /* background-color: black; */
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 2% 0%;
}

.content-image-area{
  height: 100%;
  width: 40%;
  position: sticky;
  top: 100px;
  /* background-color: black; */
}

.content-image{
  border: 1px;
  border-style: solid;
  border-color: lightgrey;
  height: 100%;
  width: 100%;
  padding: 0%;
}

.content-image img{
  width: 100%;
}

.content-details{
  /* background-color: red; */
  font-family:sans-serif;
  font-weight: lighter;
  font-weight:normal;
  height: 100%;
  width: 50%;
}

.review-rating{
  color: grey;
  display: inline;
  margin-left: 2%;
}

.offer-text{
  color: #388e3c;
}

.offer-dis-text{
  font-size: 1rem;
  margin-left: 2%;
}

.sub-sections{
  /* border: 2px solid; */
  table-layout: fixed;
}

.sub-sections th{
  color: grey;
  text-align: left;
}

.sub-sections li{
  margin: 3% 0%;
}

.submit{
  background-color: #607eaa;
  border: none;
  color: white;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin: 1% 0% 1% 1%;
}

.buy{
  background-color: #1d3879;
}

.pecification-table{
  text-align: left;
  padding: 2%;
  border: 1px solid lightgrey;
  width: 100%;
  height: 200px;
  margin-top: 10%;
  /* border: 2px solid; */

}

.pecification-table th{
  /* border: solid lightgrey; */
  font-size: 2rem;
  padding: 2%;
}

.pecification-table ul{
  list-style-type: none;
}

.pecification-table li{
  margin-bottom: 20%;
}

.pecification-table td{
  padding: 2% 2%;
  color: grey;
}

.table-sub-heading{
  font-weight: bold;
  color: black;
  font-size: 1.1rem;
  padding: 2%;
  border-top: 2px lightgrey solid;
}

.similar_products{
  padding: 2% 2%;
  box-shadow: 2px 1px 10px grey;
  margin-top: 3%;

}

.footer{
  background: #182337;
  padding: 15%;
  margin-top: 4%;
}

.similar_products{
  font-family: arial;
  display: flex;
  flex-direction: column;
}

.similar_products_list{
  display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* background-color: black; */
}

.products{
  /* background-color: red; */
  padding: 1%;
  margin: 0% 1% 0% 0%;
  display: flex;
  flex-direction: column;
  width: 15%;
  font-family: arial;
  font-weight: lighter;
  font-size: 0.9rem;
}

.badge{
  width: 20%;
  padding: 1% 3%;
  border-radius: 5%;
  background-color: green;
  color: white;
  font-weight: bold;
  display: inline;
}

.products span{
  color: green;
  font-size: 0.8rem;
  margin-left: 5%;
}
